<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!-- <![endif]-->
<head>
	
    <%- include('../partials/head') %>

<body>
	<div class="loading"></div>
	<audio class="song" controls loop>
        <source src="/img/hbd.mp3"></source>
	   Your browser isn't invited for super fun audio time.
    </audio>
    <div class="balloons text-center" id="b1">
    	<h2 style="color:#F2B300;">P</h2>
    </div>
    <div class="balloons text-center" id="b2">
    	<h2 style="color:#0719D4;">E</h2>
    </div>
	<div class="balloons text-center" id="b3">
    	<h2 style="color:#D14D39;">D</h2>
    </div>
	<div class="balloons text-center" id="b4">
    	<h2 style="color:#8FAD00;">R</h2>
    </div>
	<div class="balloons text-center" id="b5">
    	<h2 style="color:#8377E4;">O</h2>
    </div>
    <!--<div class="balloons text-center" id="b6">
    	<h2 style="color:#99C96A;">2</h2>
    </div>
    <div class="balloons text-center" id="b7">
    	<h2 style="color:#20CFB4;">2</h2>>
    </div>-->

    <img src="/img/Balloon-Border.png" width="100%" class="balloon-border">
 

	<div class="container">
		
		<div class="row">
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_yellow"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_red"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_blue"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_green"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_pink"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_orange"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/img/banner.png" class="bannar">
			</div>
		</div>
		<div class="row cake-cover">
			<div class="col-md-12 texr-center">
				<div class="cake">
				  <div class="velas">
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				  </div>
				  <div class="cobertura"></div>
				  <div class="bizcocho"></div>
				</div>
			</div>
		</div>
		<div class="row message">
			<div class="col-md-12">
				<p>Hoje é...</p>
				<p>tão belo como outros dias</p>
				<p>mas percebe</p>
				<p>mais um ano já passou</p>
				<p>num piscar de olhos</p>
				<p><strong>no entanto</strong></p>
				<p>Sabe..?</p>
				<p>hoje é apenas especial</p>
				<p>tão especial para si</p>
				<p>é por isso que</p>
				<p>Vamos a isso...</p>
				<p>a melhor celebração de sempre</p>
				<p>e deixem-me partilhar...</p>
				<p>um pedaço de felicidade para si</p>
				<p>Eu fiz tudo isto...</p>
				<p>como um presente de aniversário para si</p>
				<p>obrigado por estar lá</p>
				<p>obrigado pela amizade que fizemos</p>
				<p>obrigado por tudo</p>
				<p>Desejo-lhes as maiores felicidades</p>
				<p>Que a sua vida esteja à vontade</p>
				<p>Que todos os seus desejos se tornem realidade</p>
				<p>Lembre-se</p>
				<p>as suas ambições</p>
				<p>vive como um pássaro livre...</p>
				<p>voando no céu azul</p>
				<p>Agora as coisas são diferentes...</p>
				<p>história real da sua vida</p>
				<p>está prestes a começar</p>
				<p>de facto..</p>
				<p>mas...</p>
				<p>não se preocupe</p>
				<p>porque...</p>
				<p>Deus tem as suas costas</p>
				<p>e</p>
				<p>este ano será melhor</p>
				<p>e espero</p>
				<p>encontrará...</p>
				<p>a felicidade pelo caminho</p>
				<p>mantenha o seu espírito</p>
				<p>desfrutar de cada momento...</p>
				<p>que experimenta hoje</p>
				<p>encha-o com o seu mais belo sorriso</p>
				<p>e torná-la a melhor memória..</p>
				<p>por último...</p>
				<p>Gostaria de lhe desejar mais uma vez</p>
				<p>um aniversário muito feliz Pedro Zau</p>
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
			<div class="row">
				<div class="col-md-6 text-center col-md-offset-3">
					<button class="btn btn-primary" id="turn_on">Ligar A luz</button>
					<button class="btn btn-primary" id="play">Tocar a musica</button>
					<button class="btn btn-primary" id="bannar_coming">Vamos Decorar</button>
					<button class="btn btn-primary" id="balloons_flying">Balões a flutuar</button>
					<button class="btn btn-primary" id="cake_fadein">O Bolo Mais Delicioso de Sempre</button>
					<button class="btn btn-primary" id="light_candle">Ligar a vela</button>
					<button class="btn btn-primary" id="wish_message">Feliz Aniversário</button>
					<button class="btn btn-primary" id="story">Uma mensagem para si</button>
					<!-- <button class="btn btn-primary" id="cake_cut">Lrt's Cut the Cake</button> -->
				</div>
			</div>
			<!-- <div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div> -->
		</div>


	</div>

    <canvas id=c></canvas>

</body>


<%- include('../partials/footer') %>

</html>
